@import "../../globals.css";

.base {
  @apply --hoverTransition;
  @apply --btnFontSize;
  composes: flexCenter;
}

.rect {
  composes: base;
  border: var(--btnBorder);
  border-radius: var(--borderRadiusBtn);
  @apply --btnSize;
}

.round {
  composes: base;
  @apply --roundBtnSize;
}
