@import "../../globals.css";

:root {
  --offset: calc(50% - (var(--roundBtnDim) / 2));
}

.demo {
  width: 90%;
  position: relative;
  composes: flexCenter;
}

.screenshot {
  width: 100%;
  max-width: 1200px;
}

.btn {
  background: var(--green);
  position: absolute;
  left: offset;
  top: offset;
  &:hover{
    transform: scale(1.5);
  }
}
