@import "../../globals.css";

.layout {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  composes: marginMixin;
}

.btn {
  &:hover {
    color: var(--bgColor);
    background: var(--fontColor);
    border-color: rgba(0, 0, 0, 0);
  }
}

.red {
  color: var(--red);
}

.iconMargin {
  margin: 0 0 0 var(--marginSm);
}
