@custom-media --breakpointSm (min-width: 750px);
@custom-media --breakpointMd (min-width: 970px);
@custom-media --breakpointLg (min-width: 1170px);

:root {
  --red: #F35656;
  --green: #5cb85c;
  --fontColor: #ffffff;
  --bgColor: #3C7BAE;
  --baseFontSize: 18px;

  --pSize {
    line-height: 2em;
    @media(--breakpointSm): {
      font-size: 1.2em;
    }
    @media(--breakpointMd): {
      font-size: 1.5em;
    }
  }

  --logoColor: #ffffff;
  --logoSize {
    font-size: 40vw;
    @media(--breakpointSm) {
      font-size: 20vw;
    }
    @media(--breakpointLg) {
      font-size: 275px;
    }
  }

  --marginXs: 8px;
  --marginSm: 16px;
  --marginMd: 24px;
  --marginLg: 30px;

  --btnFontSize: {
    font-size: 1em;
    @media(--breakpointSm) {
      font-size: 1.2em;
    }
    @media(--breakpointMd) {
      font-size: 1.5em;
    }
  }
  --btnBorder: 0.5px solid #ffffff;
  --borderRadiusBtn: 6px;
  --btnSize {
    width: 125px;
    height: 35px;
    @media(--breakpointSm) {
      width: 150px;
      height: 50px;
    }
    @media(--breakpointMd) {
      width: 200px;
      height: 65px;
    }
  }

  --roundBtnDim: 50px;
  --roundBtnSize {
    width: var(--roundBtnDim);
    height: var(--roundBtnDim);
    border-radius: calc(var(--roundBtnDim)/2);
    box-shadow: 0 5px 8px rgba(0, 0, 0,.35);
  }

  --hoverTransition {
    transition: 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.marginMixin {
  margin: var(--marginXs) 0;
  @media(--breakpointSm) {
    margin: var(--marginSm) 0;
  }
  @media(--breakpointMd) {
    margin: var(--marginMd) 0;
  }
  @media(--breakpointLg) {
    margin: var(--marginLg) 0;
  }
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerText {
  text-align: center;
}
