@import "./globals.css";

html, body {
  font-family: system-ui;
  background: var(--bgColor);
  color: var(--fontColor);
  font-size: var(--baseFontSize);
}

a {
  color: var(--fontColor);
  text-decoration: none;
}

p {
  @apply --pSize;
}

h1, h2, h3, h4, h5 {
  margin: var(--marginMd) 0;
}
